* {
    margin: 0;
}

.box {
    background-color: black;
    width: 940px;
    height: 600px;
    padding: 5px;
}

.box__orange1{
    background-color: orange;
    width: 940px;
    height: 100px;
    clear: both;
}
.box__red {
    width: 200px;
    height: 400px;
    background-color: red;
    float: left;
}
.box__green {
    width: 270px;
    height: 400px;
    background-color:green;
    float: left;
}
.box__blue {
    width: 270px;
    height: 400px;
    background-color:blue;
    float: left;
}
.box__black {
    width: 200px;
    height: 400px;
    background-color:black;
    float: left;
}
.box__orange2{
    background-color: orange;
    width: 940px;
    height: 100px;
    clear: both;
}